name: Frontend CI

on:
  push:
    branches:
      - main
    paths:
      - frontend/**

jobs:
  build-and-update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: germancruzpallares/temperaturas-frontend:${{ github.sha }}

      - name: Update Kubernetes manifests
        run: |
          sed -i "s|image: germancruzpallares/temperaturas-frontend:.*|image: germancruzpallares/temperaturas-frontend:${{ github.sha }}|g" frontend-k8s.yaml
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add frontend-k8s.yaml
          git commit -m "Update frontend image tag to ${{ github.sha }}"
          git push